<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<body>
		<header th:fragment="header" id="header" class="header fixed-top d-flex align-items-center">
		    <div class="d-flex align-items-center justify-content-between">
		      <!--로고-->
		      <a th:href="@{/home/home}" class="logo d-flex align-items-center">
		        <img th:src="@{/assets/img/mglg_logo_white.png}" alt="">
		      </a>
		      <!--슬라이드 버튼-->
		      <i class="bi bi-list toggle-sidebar-btn"></i>
		    </div><!-- End Logo -->
			
			<!--서치바-->
		    <div class="search-bar w-">
		      <form class="search-form d-flex align-items-center" method="GET" action="/search/search" id="searchForm">
		        <input type="text" name="searchKeyword" placeholder="Search" title="Enter search keyword" th:value="${searchKeyword}" id="searchKeyword">
		        <button type="button" title="Search" id="searchBtn"><i class="bi bi-search"></i></button>
		      </form>
		    </div><!-- End Search Bar -->
		
		    <nav class="header-nav ms-auto">
		      <ul class="d-flex align-items-center">
		
		        <li class="nav-item d-block d-lg-none">
		          <a class="nav-link nav-icon search-bar-toggle " href="#">
		            <i class="bi bi-search"></i>
		          </a>
		        </li><!-- End Search Icon-->
		
				<!--알림 아이콘-->
		        <li class="nav-item dropdown">
		
		          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
		            <i class="bi bi-bell"></i>
		            <!--위에 표기된 알림 숫자-->
		            <span class="badge bg-primary badge-number">4</span>
		          </a><!-- End Notification Icon -->
		
				  <!--알림 드롭다운-->
		          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
		            <li class="dropdown-header">
		              You have 4 new notifications
		              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
		            </li>
		            <li>
		              <hr class="dropdown-divider">
		            </li>
		
		            <li class="notification-item">
		              <i class="bi bi-exclamation-circle text-warning"></i>
		              <div>
		                <h4>Lorem Ipsum</h4>
		                <p>Quae dolorem earum veritatis oditseno</p>
		                <p>30 min. ago</p>
		              </div>
		            </li>
		
		            <li>
		              <hr class="dropdown-divider">
		            </li>
		
		            <li class="notification-item">
		              <i class="bi bi-x-circle text-danger"></i>
		              <div>
		                <h4>Atque rerum nesciunt</h4>
		                <p>Quae dolorem earum veritatis oditseno</p>
		                <p>1 hr. ago</p>
		              </div>
		            </li>
		
		            <li>
		              <hr class="dropdown-divider">
		            </li>
		
		            <li class="notification-item">
		              <i class="bi bi-check-circle text-success"></i>
		              <div>
		                <h4>Sit rerum fuga</h4>
		                <p>Quae dolorem earum veritatis oditseno</p>
		                <p>2 hrs. ago</p>
		              </div>
		            </li>
		
		            <li>
		              <hr class="dropdown-divider">
		            </li>
		
		            <li class="notification-item">
		              <i class="bi bi-info-circle text-primary"></i>
		              <div>
		                <h4>Dicta reprehenderit</h4>
		                <p>Quae dolorem earum veritatis oditseno</p>
		                <p>4 hrs. ago</p>
		              </div>
		            </li>
		
		            <li>
		              <hr class="dropdown-divider">
		            </li>
		            <li class="dropdown-footer">
		              <a href="#">Show all notifications</a>
		            </li>
		
		          </ul><!-- End Notification Dropdown Items -->
		
		        </li><!-- End Notification Nav -->
		
				<!--메세지 아이콘-->
		        
		
		          <a class="nav-link nav-icon" th:href="@{/dm/show}">
		            <i class="bi bi-chat-right-text"></i>
		          </a><!-- End Messages Icon -->
		
		          
		
		        
		
		
		      </ul>
		    </nav><!-- End Icons Navigation -->
		</header>
	</body>
</html>